.div1{position:absolute;top:0;left:0;z-index:7;visibility:visible;}
.div2{position:absolute;top:0;left:0;z-index:6;visibility:visible;}
.div3{position:absolute;top:0;left:0;z-index:5;visibility:visible;}
.div4{position:absolute;top:0;left:0;z-index:4;visibility:visible;}
.div5{position:absolute;top:0;left:0;z-index:3;visibility:visible;}
.div6{position:absolute;top:0;left:0;z-index:2;visibility:visible;}
.div7{position:absolute;top:0;left:0;z-index:1;visibility:visible;}
