<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.adobe.flexbuilder.debug.launchConfigurationType.apollo">
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_APPLICATION" value="merb_air_upload.mxml"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_RUN_URL" value="file:/C:/Documents%20and%20Settings/Davy/Desktop/merb_air_upload/fx/bin/merb_air_upload-app.xml"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_DEBUG_URL" value="file:/C:/Documents%20and%20Settings/Davy/Desktop/merb_air_upload/fx/bin/merb_air_upload-app-debug.xml"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROJECT" value="merb"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_APOLLO_SECURITY_POLICY_FILE" value="security-policies/default.xml"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROFILE_URL" value="file:/C:/Documents%20and%20Settings/Davy/Desktop/merb_air_upload/fx/bin/merb_air_upload-app-profile.xml"/>
<booleanAttribute key="com.adobe.flexbuilder.debug.ATTR_USE_DEFAULT_URLS" value="true"/>
</launchConfiguration>
