<?xml version="1.0" encoding="UTF-8"?>
<launchConfiguration type="com.adobe.flexbuilder.debug.launchConfigurationType.flash">
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_APPLICATION" value="MEL_Interface.mxml"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_RUN_URL" value="file:/Users/davy/Documents/Flex%20Builder%202/MEL_Interface/bin/MEL_Interface.html"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_DEBUG_URL" value="file:/Users/davy/Documents/Flex%20Builder%202/MEL_Interface/bin/MEL_Interface-debug.html"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROJECT" value="MEL_Interface"/>
<booleanAttribute key="com.adobe.flexbuilder.debug.ATTR_USE_DEFAULT_URLS" value="true"/>
</launchConfiguration>
